/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary-color: #9792e4;
	--color-secondary-color: #0084fd;
	--color-dark-color: #333333;
	--color-light-color: #ffffff;
	--color-bg-card: #b5ddff;
	--color-contrast-color: #fcc060;
	--color-text: #5A6E7F;
    --color-black: #000000;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-light-color);
    color: var(--color-text);
}
.container{
    max-width: 100%;
    padding: 5px;
}
.debug{
    border: 1px solid black;
}
.img{
    display: block;
    width: 100%;
}
.card{
    height: 100%;
}

#intro{
    padding-top: 100px;
}

/* utility */

/* flex */
.flex{
    display: flex;
}
.f-row-wrap{
    flex-flow: row wrap;
} 

/* backgrounds */
.bg-light{
    background-color: var(--color-light-color);
}
.bg-card{
    background-color: var(--color-bg-card);
}
.bg-primary{
    background-color: var(--color-primary-color);
}

/* border */
.small-border-rounded{
    border-radius: 10px;
}
.big-border-rounded{
    border-radius: 20px;
}
.circle{
    border-radius: 50%;
}
.heavy-border-rounded{
    border-radius: 15%;
}

/* padding */
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}
.px-25{
    padding-left: 25px;
    padding-right: 25px;
}
.py-25{
    padding-top: 25px;
    padding-bottom: 25px;
}
.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.px-50{
    padding-left: 50px;
    padding-right: 50px;
}
.px-55{
    padding-left: 55px;
    padding-right: 55px;
}


/* text */
.text-primary{
    color: var(--color-primary-color);
}
.text-secondary{
    color: var(--color-secondary-color);
}
.text-light{
    color: var(--color-light-color);
}
.gray-text{
    color: var(--color-text);
}
.black-text{
    color: var(--color-black);
}
.text-center{
    text-align: center;
}
.line-height{
    line-height: 1.8em;
}
h3, .fa-solid.fa-bars{
    font-size: 1.4em;
}
.card-content>p, .card>p{
    font-weight: bold;
}
.regular{
    font-weight: 400;
}


/* buttons */
.btn{
    display: inline-block;
    text-decoration: none;
    color: var(--color-light-color);
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 3px;
    background-color: var(--color-primary-color);
}
.btn.btn-secondary{
    background-color: var(--color-secondary-color);

}
.btn.btn-nav{
    background-color: var(--color-light-color);
    color: var(--color-text);
    font-weight: 500;
    letter-spacing: 1px;
    padding: 6px 10px;
}

/* contents */

/* header */
header{
    background-color: var(--color-secondary-color);
    color: var(--color-light-color);
    position: fixed;
    width: 100%;
    z-index: 10000;
}
#logo{
    width: 50px;
}
.nav-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: none;
}

/* main */
.card-image{
    position: relative;
    top: 25px;
}
.icon{
    font-size: 5em;
    color: var(--color-secondary-color);
    margin: 20px 0;
}
.planning-title{
    font-size: 2em;
}
.italic{
    font-style: italic;

}
.fa-arrow-down{
    font-size: 1em;
    padding: 20px;
    background-color: var(--color-primary-color);
    color: var(--color-black);
}

/* testimonials */
#testimonials{
    margin: 40px 0;
}
.testimonial-card{
    padding: 10px;
    margin: 20px;
    background-color: var(--color-primary-color);
    color: var(--color-light-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.testimonials-text *{
    margin: 20px 0;
    padding: 10px;
}
.testimonials-text > h2{
    font-size: 1em;
    font-weight: 400;
}
.testimonials-text > h3{
    font-size: 2.5em;
    color: var(--color-primary-color);
}
.testimonials-text > p{
    font-size: 1.3em;
    color: var(--color-black);
}
.t-card-image img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 20px;

}
.fa-quote-right, .fa-quote-left, .testimonial-card > p{
    padding: 5px;
    font-size: 1.2em;
}
.testimonial-card > h4{
    font-size: 1.5em;
    padding: 20px;
}

/* benefit cards */
#benefits > h2, #about-us > h2{
    font-size: 2.5em;
    padding: 40px 20px;
}

.benefit-number{
    font-size: 3em;
}
.benefit-h4{
    font-size: 2em;
}
.benefit-number, .benefit-h4{
    padding: 10px 0;
}

/* about us */
#about-us p{
    font-size: 1.2em;
    color: var(--color-black);
}
.quote-about-us{
    font-size: 4em;
    color: var(--color-primary-color);
    transform: translate(-140%, -240%);
}
.quote{
    font-size: 1.7em;
}
.fa-linkedin{
    padding: 5px;
}
.linkedin{
    font-size: 0.8em;
}

/* footer */
footer{
    background-color: var(--color-dark-color);
    color: var(--color-light-color);
}


/* media query */

@media screen and (min-width: 576px){
    .flex{
        display: flex;
    }
    .f-row-wrap{
        flex-flow: row wrap;
    }
    #intro .col{
        width: calc(100% / 3);
    }
    #intro .col:first-child{
        width: calc((100% / 3) * 2);
    }
}
@media screen and (min-width: 768px){
    .img.phone{
        width: 50%;
    }
}
@media screen and (min-width: 992px){
    nav .fa-solid.fa-bars{
        display: none;
    }
    nav ul{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    .nav-list *{
        list-style: none;
        text-decoration: none;
        padding: 0 10px;
        color: var(--color-light-color);
        font-size: 1.05em;
    }
    .img.phone{
        width: 100%;
    }
    .card-image{
        width: 40%;
    }
    .card-content{
        width: 60%;
    }
    .btn.btn-secondary{
        margin-top: 50px;
    }

}
@media screen and (min-width: 1200px){
    .flex-r{
        display: flex;
    }
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }
    #intro .col:first-child .card{
        display: flex;
    }
    .img.phone{
        width: 100%;
        position: relative;
        top: 10px;
    }
    .planning{
        width: 60%;
    }
    .planning.two{
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
    }
    .resize{
        height: 70%;
    }

}